<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-feature android:glEsVersion="0x00030000" android:required="true" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <application android:label="LumaView Mobile 光影增强播放器" android:icon="@mipmap/mpv_launcher_icon" android:allowBackup="false" android:theme="@style/AppTheme">
    <activity android:name="org.lumaview.mobile.LumaActivity" android:exported="true" android:configChanges="orientation|screenSize|keyboardHidden">
      <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
      <intent-filter><action android:name="android.intent.action.VIEW" /><category android:name="android.intent.category.DEFAULT" /><data android:scheme="content" /><data android:scheme="file" /><data android:mimeType="video/*" /></intent-filter>
    </activity>
  </application>
</manifest>
